/* General Styles */
body {
    margin: 0;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    font-family: 'Poppins', sans-serif;
}


/* Sidebar */
.sidebar ul li a.active {
    background-color: #177ead; /* Highlight color */
    font-weight: bold;

}

.sidebar {
    width: 250px;
    background-color: #10394f;
    height: 150vh;
    padding: 20px;
    color: white;
    position: fixed;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: rgb(198, 198, 198);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 5px;
    
}


.sidebar ul li a:hover {
    background-color: #0d2c3a;
    transition: background 0.3s ease-in-out;
}

/* Main Content */
.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 290px;
    margin-bottom: 900;
    
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #10394f;
    text-align: center;
    margin-bottom: 50;
}

/* Dashboard Boxes */
.dashboard-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 15px; 
    max-width: 900px; 
    margin: 0 auto; 
}

.dashboard-box {
    width: 230px; 
    height: 120px;
    padding: 15px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}
.dashboard-lowstockbox {
    width: 500px; 
    height: 120px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}
.dashboard-topselling {
    width: 300px; 
    height: 120px;
    padding: 15px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.dashboard-box:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
        align-items: center;
    }

    .dashboard-box {
        width: 90%;
    }
}

/* Graph Box */
.graph-box {
    width: 100%;
    max-width: 880px;
    height: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 20px auto; 
}

.graph-box h2 {
    font-size: 15px;
    position: relative;
    left: 0px;
    margin-bottom: 0px;
}




